:root {
    --blanco: rgb(255, 255, 255);
    --gray: rgb(247, 247, 248);
    --rojo_inteso: rgb(233, 73, 89);
    --gray_articles: rgb(230, 230, 230);
    --gray_letter: #595959;
    --z-index5: 1000;
    --z-index1: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /*La caja se desplaza suavemente, utilizando una función de tiempo definida por el agente de usuario (user-agent) sobre un período de tiempo también definido por éste. Los agentes de usuario seguirán las convenciones de su propia plataforma, en caso de que existan.*/
}

.body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gray);
}

button {
    cursor: pointer;
}

.header {
    width: auto;
}

/* BARRA DE NAVEGACION */
.navegator_container {
    /* ancho de nuestro contenedor */
    width: 100%;
    /* para centrar el contenedor */
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--blanco);
}

.logo_store {
    display: flex;
    align-items: center;
}

.logo_store a {
    text-decoration: none;
}

.btn_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.bolsa_compras:hover {
    opacity: 0.8;
}

.bolsa_compras i {
    cursor: pointer;
    transition: opacity 0.5s;
}

.content_cartShopping span{
    position: relative;
    top: 0;
    right: -10px;
}

.container_shopping {
    width: 35vw;
    height: 100vh;
    background-color: var(--blanco);
    box-shadow:  0 1rem 3rem rgba(0,0,0,.175);
    position: fixed;
    top: 2.8em;
    right: 0;
    z-index: 300;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    margin-right: -100%;
    transition: margin-rigth 0.5s;
}

/* para desaparecer el contenedor de las compras */
.mostrar_carshopping {
    margin-right: 0;
    background-color: #A2B5BB;
}

.content_shopping {
    height: 70%;
    padding: 1em;
    background-color: #CEE5D0;
}

.total_shopping {
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.shopping_img {
    width: 100%;
}

.shopping_img img {
    width: 100%;
}

.shopping_header {
    display: flex;
    gap: 1em;
    align-items: center;
    flex-direction: column;
}

.rest,
.add,
.delete {
    cursor: pointer;
}
/* barra de navegacion */

/*==== CONTENEDOR INICIAL ====*/
.contenido_principal {
    width: auto;
}

.informacion_inicial {
    width: 327px;
    display: grid;
    position: relative;
    row-gap: 2.5rem;
    margin: auto;
    padding: auto;
}

.sudadera_nga {
    /* ajuste de la posicion de la imagen dentro del contenedor del grid */
    width: 258px;
    height: 430px;
    padding-bottom: 2rem;
    background-color: var(--rojo_inteso);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-self: flex-end;
    /* translateX es para que sabre salga del margen del contenedor */
    transform: translateX(1.5rem);
}

.sudadera_nga img {
    /* de esta manera se ajusta la imagen al tamaño del contenedor */
    max-width: 100%;
    height: auto;
}

.titulo {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.description_home {
    margin-bottom: 1.5rem;
}

.precio_home {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--rojo_inteso);
    margin-bottom: 3rem;
}

.btns_paginicial {
    display: flex;
    align-items: center;
}

.boton_gris {
    padding: 1rem 1.5rem;
    background-color: hsl(0, 0%, 75%);
    color: hsl(0, 0%, 15%);
    text-decoration: none;
}

.button_inicial {
    display: inline-block;
    background-color: hsl(0, 0%, 15%);
    color: #fff;
    padding: 1.25rem 2rem;
    font-weight: 500;
}
/*==== contenedor inicial ====*/

/* CONTENEDOR TARJETAS */
.container_products {
    width: 327px;
    margin: auto;
    padding: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.filters {
    margin: auto;
    padding: auto;

}

ul li {
    list-style: none;
}

.content_element {
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    row-gap: 3em;
}

.tags {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    text-align: center;
}

.tarjeta {
    background-color: var(--blanco);
    width: 230px;
    border-radius: .5em;
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element img {
    background-color: var(--gray_articles);
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.price_stock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn_mas {
    position: relative;
    left: 5em;
    bottom: 4em;
}

.btn_mas button {
    padding: .8em;
    border-radius: 50%;
}

/* contenedor tarjetas */

/* CONTENEDOR FOOTER */
.pie_pagina {
    background-color: hsl(0, 0%, 90%);
}

.content_footer {
    width: 335px;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1.8em;
}

.information ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1, 1fr;
    gap: 1em;
}

.information_social ul{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.information_social img {
    width: 20px;
    height: auto;
}

.information li {
    font-size: 13.5px;
    color: var(--gray_letter);
}

.enlace {
    font-size: 13.5px;
    color: var(--gray_letter);
    text-decoration: none;
}

.footer_copy {
    display: block;
    margin: 3.5rem 0 1rem 0;
    text-align: center;
    font-size: .75rem;
    color: hsl(0, 0%, 55%);
}
/* contenedor footer */

/* mediaQueries */

@media screen and (min-width: 800px){
    .header {
        width: 600px;
        margin: auto;
        padding: auto;
    }

    .contenido_principal {
        width: 100%;
        margin: auto 12em;
        padding: auto;
    }

    .container_products {
        width: 100%;
        margin: auto;
        padding: auto;
    }

    .filters {
        width: 60%;
        margin: 2em 1em;
        padding: auto;
    }

    .content_element {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }

    .informacion_inicial {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3em;
        margin: auto 5em;
        padding: auto;
    }

    .principal_datos {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .sudadera_nga {
        grid-column: 2/3;
    }

    .container_shopping {
        width: 50vw;
    }

    .content_shopping {
        width: 100%;
        height: 70%;
        padding: 1em;
        background-color: #CEE5D0;
        justify-content: center;
    }

    .content_shopping img {
        width: 30%;
    }

    .shopping_header {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /* .content_shopping {
        width: 50vw;
        display: flex;
        align-items: center;
    } */

    .content_footer {
        width: 100%;
        margin: auto 15em;
        padding: auto;
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    

    
}